html, body, p {
  margin: 0px;
  padding: 0px;
}

.UserInfo{
  position: absolute;
  bottom: 55px;
  left: 10px;
}

.ChatMessageInputWrapper {
  display: flex;
}

.LoginModalHeader {
  width: 100%;
  text-align: center;
}

.LoginModalHeader p {
  font-size: 18px;
  font-weight: 600;
}

.LoginModalFooter, .PopUpModalFooter{
  height: 18px;
}

#anon-log-in-btn, #log-in-btn, #pop-up-send-btn, #pop-up-quit-btn  {
  position: absolute;
  bottom: 5px;
}

#anon-log-in-btn, #pop-up-quit-btn {
  left: 5px;
}

#log-in-btn, #pop-up-send-btn {
  right: 5px;
}

.ChatMessageWrapper{
  height: calc(100vh - 120px);
  overflow-y: scroll;
  border-bottom: 2px solid #ced4da;
}

.Message {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

#chat-message-send-btn {
  margin-left: 10px;
  height: 38px;
}

#chat-message-send-btn-content-wrapper {
  display: flex;
  margin: 0px;
  padding: 0px;
}

#chat-message-send-btn-content-wrapper span {
  margin-left: 5px;
  margin-right: -5px;
}

#messages-header {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

#message-username {
  margin-left: 10px;
  margin-right: 10px;
}

#message-input {
  margin-left: 10px;
  width: 200px;
}

#open-page-btn {
  position: fixed;
  bottom: 5px;
  left: 5px
}

#revoke-chat-btn {
  position: fixed;
  bottom: 5px;
  right: 5px
}